{% extends 'shared/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_scripts %}
    <script src="{% static 'js/detail_post.js' %}" defer></script>
    {#    <script src="/static/js/detail_post.js"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}
{% block title %}{{ post.title }} details{% endblock %}
{% block content %}

    <!-- deleteModal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">delete post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>are you sure to delete <b>{{ post.title }}</b>?!</p>
                </div>

                <div class="modal-footer">
                    <form method="post" id="delete-form">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-success">delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- updateModal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">update post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div id="alert-box"></div>
                    <form method="post" id="update-form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-success">update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <a href="{% url 'posts' %}" id="back-btn" class="btn btn-info">back to posts</a>
    <button id="update-btn" class="btn btn-primary not-visible" data-bs-toggle="modal"
            data-bs-target="#updateModal">update
    </button>
    <button id="delete-btn" class="btn btn-danger not-visible" data-bs-toggle="modal"
            data-bs-target="#deleteModal">delete
    </button>
    <div id="spinner-box">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
    <div class="mt-1" id="post-box"></div>
    <hr>
    <!-- carousel-->
    {% if post.get_photos %}
        <div id="carouselExampleControls" class="carousel slide mb-4 mt-4"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.get_photos %}
                    {#                    {% if forloop.counter == 1 %}active{% endif %} #}
                    <div class="carousel-item {% if forloop.first %}active{% endif %} ">
                        <img src="{{ image.image.url }}" class="d-block w-100"
                             alt="{{ image }}">
                    </div>
                {% endfor %}
            </div>
            {% if post.get_photos|length > 1 %}
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            {% endif %}
        </div>
    {% else %}
        <div class="mt-2 mb-2">there is no photo to show</div>
    {% endif %}
    <!-- end carousel-->
    {#    {{ post.id }}#}
    {#    <hr>#}
    {#    {{ post.body }}#}

    {#    --------------#}

    {#    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">#}
    {#        <div class="carousel-indicators">#}
    {#            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"#}
    {#                    class="active" aria-current="true" aria-label="Slide 1"></button>#}
    {#            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"#}
    {#                    aria-label="Slide 2"></button>#}
    {#            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"#}
    {#                    aria-label="Slide 3"></button>#}
    {#        </div>#}
    {#        <div class="carousel-inner">#}
    {#            <div class="carousel-item active">#}
    {#                <img src="..." class="d-block w-100" alt="...">#}
    {#            </div>#}
    {#            <div class="carousel-item">#}
    {#                <img src="..." class="d-block w-100" alt="...">#}
    {#            </div>#}
    {#            <div class="carousel-item">#}
    {#                <img src="..." class="d-block w-100" alt="...">#}
    {#            </div>#}
    {#        </div>#}
    {#        <button class="carousel-control-prev" type="button"#}
    {#                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">#}
    {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#            <span class="visually-hidden">Previous</span>#}
    {#        </button>#}
    {#        <button class="carousel-control-next" type="button"#}
    {#                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">#}
    {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#            <span class="visually-hidden">Next</span>#}
    {#        </button>#}
    {#    </div>#}
{% endblock %}
{% block footer_scripts %}

{% endblock %}