{% extends 'shared/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_scripts %}
    {#    <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/for_posts.js' %}" defer></script>
{% endblock %}
{% block title %}
    main posts
{% endblock %}
{% block content %}
    <div class="row">
        <div id="alert-box"></div>
        <!-- add post Modal -->
        <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">create post</h5>
                        <button type="button" class="btn-close add-modal-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="post-form" autocomplete="off">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger add-modal-close"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" id="add-btn"
                                        class="btn btn-success">add
                                </button>
                            </div>
                        </form>
                        <form action="image-upload" id="my-dz" class="dropzone dz not-visible">
                            {% csrf_token %}
                            <div class="fallback">
                                <input type="file" name="file" multiple/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn mb-3 btn-info btn-lg btn-block" data-bs-toggle="modal"
                data-bs-target="#addPostModal">
            add post
        </button>
        <!-- end post modal -->
        <div id="post-box">

        </div>

        <div id="spinner-box">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>

        <div class="text-center mb-3" id="end-box">
            <button class="btn btn-primary" id="load-btn">load more</button>
        </div>
    </div>

{% endblock %}
{% block footer_scripts %}

{% endblock %}
